{% extends 'base.html' %} 
{% block content %}
test
    <br>
    <div class="container">
         <div class="card bg-secondary text-white">
             <h5 class="card-header">Tyler McPhee</h5>
             <div class="card-body">
                 <h5 class="card-title">Roles:</h5>
                 <p class="card-text">HTML, SQL, Bucket, Docker, and Google Compute Engine</p>
             </div>
         </div>
        <br>
         <div class="card bg-secondary text-white">
             <h5 class="card-header">Troy Walther</h5>
             <div class="card-body">
                 <h5 class="card-title">Roles:</h5>
                 <p class="card-text">Machine Learning, Model Training, and Google Compute Engine</p>
             </div>
         </div>
        <br>
         <div class="card bg-secondary text-white">
             <h5 class="card-header">Tyler Booth</h5>
             <div class="card-body">
                 <h5 class="card-title">Roles:</h5>
                 <p class="card-text">HTML, Google Compute Engine, and Kubernetes Engine Deployment</p>
             </div>
         </div>
        <br>
         <div class="card bg-secondary text-white">
             <h5 class="card-header">Harshit Kishankumar Bagga</h5>
             <div class="card-body">
                 <h5 class="card-title">Roles:</h5>
                 <p class="card-text">Google Compute Engine and Kubernetes Engine Deployment</p>
             </div>
         </div>
    </div>
    <br>
{% endblock %}
