{% extends 'base.html' %} 
{% block content %}

    <br>
    <div class="container">
         <div class="card">
             <h5 class="card-header">Tyler McPhee</h5>
             <div class="card-body">
                 <h5 class="card-title">Roles:</h5>
                 <p class="card-text">PlaceHolder</p>
             </div>
         </div>
        <br>
         <div class="card">
             <h5 class="card-header">Troy Walther</h5>
             <div class="card-body">
                 <h5 class="card-title">Roles:</h5>
                 <p class="card-text">PlaceHolder</p>
             </div>
         </div>
        <br>
         <div class="card">
             <h5 class="card-header">Tyler Booth</h5>
             <div class="card-body">
                 <h5 class="card-title">Roles:</h5>
                 <p class="card-text">PlaceHolder</p>
             </div>
         </div>
        <br>
         <div class="card">
             <h5 class="card-header">Harshit Kishankumar Bagga</h5>
             <div class="card-body">
                 <h5 class="card-title">Roles:</h5>
                 <p class="card-text">PlaceHolder</p>
             </div>
         </div>
    </div>
{% endblock %}
