{% extends 'base.html' %} 
{% block content %} 
	<br>
	    <div class="container">
		 <div class="card">
		     <h5 class="card-header">Application Purpose</h5>
		     <div class="card-body">
			 <p class="card-text">The purpose of our application is to process a review to determine if it is a good or bad review for a hotel. Using machine learning, this application is able to determine what is considered a good or bad review based on the language used in the review.</p>
		     </div>
		 </div>
		<br>
		 <div class="card">
		     <h5 class="card-header">Dataset</h5>
		     <div class="card-body">
			 <p class="card-text">Hotel Review Analyzer uses a dataset from a popular hotel review site where its users have provided online reviews for a single hotel. This dataset contains a variety of different reviews good and bad for this particular hotel. This dataset contains the exact quote from the reviewer and whether they were satisfied or not with their stay. We retrieved this free dataset from Kaggle for the purpose of completing the final project for COMP-4312. We have removed the unnecessary items such as customer ID, device type they used for the review, and browser they used for the review as these are not needed for the purpose of our application.</p>
		     </div>
		 </div>
		<br>
		 <div class="card">
		     <h5 class="card-header">Functionalities</h5>
		     <div class="card-body">
			 <h5 class="card-title">Analyze a review from the database</h5>
			 <p class="card-text">Using our machine learning algorithm, our application is able to determine whether a review is good or bad based on the language used in the review. Our hotel database already has whether a customer is happy or not which coincides with the quality of the review. People who are unhappy are more likely to leave a poor review and people are happy are more likely to leave a good review.</p>
			 <h5 class="card-title">Analyze a new review entered from the user</h5>
			 <p class="card-text">Using our machine learning algorithm, the application is able to detect key words the user has entered to decide whether a phrase is either good or bad. The language used determines the connotation of the review with negative words causing a bad review.</p>
			 <h5 class="card-title">Using the Application</h5>
			 <p class="card-text">To run the application, enter in a phrase in the box on the run page. This phrase should resemble one that you would enter if you are writing about the hotel room you stayed in most recently. Once you are ready to analyze the review click the analyze button.</p>
		     </div>
		 </div>
		 <br>
		 <div class="card">
		     <h5 class="card-header">Machine Learning Algorithms</h5>
		     <div class="card-body">
			 <p class="card-text">Using our machine learning model, our application is able to determine words that are associated with happy reviews, non-satisfied reviews, as well as language that is common in both. Our machine learning model follows the same concept of a spam filter that would find emails or SMS that are considered spam based on flagged keywords. To achieve this, we had to train the model by sorting through the hotel dataset mentioned above. Using both the non-happy responses and the happy responses we find the intersection of these two. The intersection of these two fields would be all the words that the two types of reviews have in common.</p>
			 <p class="card-text">The words in each of the three areas are counted to determine the most popular terms. After counting the occurrences, we then can plot the data we have uncovered using word clouds. These images show which words are found most in each non-satisfied and satisfied reviews. Now that the most common words with happy and non-happy reviews have been determined, the application can estimate whether a review reflects well on the hotel or is a poor review. As you can see below, I have included the results after our ML model has ran with our dataset.</p>
			 <img src="static\images\wordClouds.png" alt="Word Clouds">
		     </div>
		 </div>
		<br>

		<br>
	     </div>

{% endblock %} 
