{% extends 'base.html' %} 
{% block content %} 
	<br>
	    <div class="container">
		 <div class="card">
		     <h5 class="card-header">Application Purpose</h5>
		     <div class="card-body">
			 <p class="card-text">The purpose of our application is to process a review to determine if it is a good or bad review for a hotel. Using machine learning, this application is able to determine what is considered a good or bad review based on the language used in the review.</p>
		     </div>
		 </div>
		<br>
		 <div class="card">
		     <h5 class="card-header">Dataset</h5>
		     <div class="card-body">
			 <p class="card-text">Hotel Review Analyzer uses a dataset from a popular hotel review site where its users have provided online reviews for a single hotel. This dataset contains a variety of different reviews good and bad for this particular hotel. This dataset contains the exact quote from the reviewer and whether they were satisfied or not with their stay. We retrieved this free dataset from Kaggle for the purpose of completing the final project for COMP-4312. We have removed the unnecessary items such as customer ID, device type they used for the review, and browser they used for the review as these are not needed for the purpose of our application.</p>
		     </div>
		 </div>
		<br>
		 <div class="card">
		     <h5 class="card-header">Functionalities</h5>
		     <div class="card-body">
			 <h5 class="card-title">Analyze a review from the dataset</h5>
			 <p class="card-text">Using our machine learning algorithm, our application is able to determine whether a review is good or bad based on the language used in the review. Our hotel database already has whether a customer is happy or not which coincides with the quality of the review. People who are unhappy are more likely to leave a poor review and people are happy are more likely to leave a good review. Our application is able to process the dataset to determine popular words used in all the reviews.</p>
			 <h5 class="card-title">Analyze a new review entered from the user</h5>
			 <p class="card-text">Using our machine learning algorithm, the application is able to detect key words the user has entered to decide whether a phrase is either good or bad. The language used determines the connotation of the review with negative words causing a bad review.</p>
			 <h5 class="card-title">Using the Application</h5>
			 <p class="card-text">To run the application, enter in a phrase in the box on the run page. This phrase should resemble one that you would enter if you are writing about the hotel room you stayed in most recently. Once you are ready to analyze the review click the analyze button.</p>
			 <h5 class="card-title">Search for a review</h5>
			 <p class="card-text">The user can search for a review in the database for keywords that it contains. You can also specify if you are looking for a review from a happy customer, a sad customer, or show all results with the keyword. We use an SQL database in conjunction with SQL commands to achieve this.</p>
			     
		     </div>
		 </div>
		 <br>
		 <div class="card">
		     <h5 class="card-header">Machine Learning Algorithms</h5>
		     <div class="card-body">
			 <p class="card-text">Using our machine learning model, our application is able to determine words that are associated with happy reviews, non-satisfied reviews, as well as language that is common in both. Our machine learning model follows the same concept of a spam filter that would find emails or SMS that are considered spam based on flagged keywords. To achieve this, we had to train the model by sorting through the hotel dataset mentioned above. Using both the non-happy responses and the happy responses we find the intersection of these two. The intersection of these two fields would be all the words that the two types of reviews have in common.</p>
			 <p class="card-text">The words in each of the three areas are counted to determine the most popular terms. After counting the occurrences, we then can plot the data we have uncovered using word clouds. These images show which words are found most in each non-satisfied and satisfied reviews. Now that the most common words with happy and non-happy reviews have been determined, the application can estimate whether a review reflects well on the hotel or is a poor review. As you can see below, I have included the results after our ML model has ran with our dataset.</p>
			 <img src="static\images\wordClouds.png" alt="Word Clouds" width="942" height="242">
		     </div>
		 </div>
		<br>
		 <div class="card">
		     <h5 class="card-header">APIs</h5>
		     <div class="card-body">
			 <p class="card-text">- Cloud Monitoring API</p>
			 <p class="card-text">- Cloud Logging API</p>
			 <p class="card-text">- Compute Engine API</p>
			 <p class="card-text">- Cloud Run Admin API</p>
			 <p class="card-text">- Cloud Build API</p>
			 <p class="card-text">- Cloud Deployment Manager V2 API</p>
			 <p class="card-text">- Cloud Pub/Sub API</p>
			 <p class="card-text">- VWare Engine API</p>
			 <p class="card-text">- Kubernetes Engine API</p>
		     </div>
		 </div>
		<br>
		<div class="card">
		     <h5 class="card-header">Docker</h5>
		     <div class="card-body">
			 <p class="card-text">Our project uses Docker to containerize our application to allow for easy deployments with Google Compute Engine and Kubernetes. Using a dockerfile and a yml file, an image is able to be assembled autonomously every time our GitHub page is altered. The dockerfile installs all the python requirements, installs wget, uses wget to download the Linux Cloud SQL Proxy, copies the project files over, unzips the project, and finally runs our main python file. Since our project is too large for GitHub we are required to compress our application, and extract it in this dockerfile. </p>
			 <p class="card-text">The docker.yml file is responsible for logging into docker, building the new docker image, then pushing the image to Docker Hub on Tyler McPhee’s docker account. This image can then be used to deploy on Google Compute Engine. With Kubernetes, the change is auto-recognized after a few minutes, a new pod is created with the updated application and set to the current pod. We run docker with the following command: docker run --name=Hotel-Review-Analyzer -d -p 8080:8080 -v /path/to/config:/config:rw tmcphee/hotelreviews</p>
		     </div>
		 </div>
		<br>
		<div class="card">
		     <h5 class="card-header">Google Compute Engine</h5>
		     <div class="card-body">
			 <p class="card-text">We have deployed our application on GCE using our containerized docker image that was auto-generated. With simple commands we are able to run this docker image on GCE. When a change is needed to be made a new VM instance must be created and the application must be redeployed. GCE does not auto-update like Kubernetes.</p>
		     </div>
		 </div>
		<br>
		<div class="card">
		     <h5 class="card-header">Google Kubernetes Engine</h5>
		     <div class="card-body">
			 <p class="card-text">Kubernetes updates automatically with changes to the project. When our GitHub page is changed a new docker image is created. Kubernetes recognizes these changes and creates a new pod and sets it as the active pod. A YAML file is needed to configure all the necessary items such as app, replicas, image, version, cluster IP, and port information. Our deployment has a minimum of 1 replica and a maximum of 3 replicas. When the CPU reaches 80% capacity, Kubernetes will autoscale and create another replica. The load will be balanced along the operating replicas.</p>
		     </div>
		 </div>
		<br>
		<div class="card">
		     <h5 class="card-header">Configuration</h5>
		     <div class="card-body">
			 <p class="card-text">Two files credentials.json file and hotelreviews.conf are needed to run our application. The credentials.json file provides the credentials to log into and connect to Google Cloud Platform. The hotelreviews.conf sets up instance and bucket names, and SQL connection information such as host, username and password.</p>
		     </div>
		 </div>
		<br>

		<br>
	     </div>

{% endblock %} 
