<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{ url_for('static', filename = 'images/hotel.png') }}">
        <title>Hotel Review Analyzer</title>

        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/bootstrap-4.0.css') }}" crossorigin="anonymous">

        <script src="{{ url_for('static', filename = 'js/bootstrap-4.0.js') }}" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename = 'js/jquery-3.5.1.js') }}" crossorigin="anonymous"></script>

    </head>
    <body>
        <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename = 'images/hotel.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                Hotel Review Analyzer
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-row float-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="/run">Run <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/archive">Archive</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/application">Application</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>

        {% block content %} {% endblock %}

    </body>
</html>
