{% extends 'base.html' %} 
{% block content %}
    <br>
	<div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card bg-secondary text-white">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <form method="post">
                            <div class="row">
                                <div class="col-6">
                                    <input type="text" value="{{ input|safe }}" name="Input"class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                                </div>
                                <div class="col-6">
                                    <fieldset class="form-group">
                                        <div class="row">
                                            <legend class="col-form-label col-sm-2 pt-0">Response</legend>
                                            <div class="col-sm-10">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="Response" id="gridRadios1" value="Happy" {{ r1|safe }}>
                                                    <label class="form-check-label" for="gridRadios1">
                                                        Happy
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="Response" id="gridRadios2" value="Not Happy" {{ r2|safe }}>
                                                    <label class="form-check-label" for="gridRadios2">
                                                        Not Happy
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="Response" id="gridRadios3" value="Both"
                                                           {{ r3|safe }}>
                                                    <label class="form-check-label" for="gridRadios3">
                                                        Both
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                  </fieldset>
                                </div>
                                <button type="submit" class="btn btn-primary" name="Search">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <div class="card bg-secondary text-white">
                    <h5 class="card-header">Archived Reviews</h5>
                    <div class="card-body">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Description</th>
                                    <th scope="col">Response</th>
                                    <th scope="col">
                                        <div class="row">
                                            <div class="col-2">
                                                <form method="post">
                                                    <input type="hidden" name="Input" value="{{ input|safe }}">
                                                    <input type="hidden" name="Response" value="{{ response|safe }}">
                                                    <button type="submit" class="btn btn-primary" name="Download">Download</button>
                                                </form>
                                            </div>
                                            <div class="col-2">
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#GCPUpload">
                                                  Save to GCP
                                                </button>

                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{ table|safe }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" role="dialog" id="GCPUpload">
           <div class="modal-dialog" role="document">
              <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title">Save to GCP</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <form method="post">
                   <div class="modal-body">
                       <input type="hidden" name="Input" value="{{ input|safe }}">
                       <input type="hidden" name="Response" value="{{ response|safe }}">
                       <div class="input-group mb-3">
                          <input name="Name" type="text" class="form-control" placeholder="FileName" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
                          <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">.csv</span>
                          </div>
                       </div>
                   </div>
                   <div class="modal-footer">
                      <button type="submit" class="btn btn-primary" name="SavetoGCP">Save</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   </div>
               </form>
             </div>
           </div>
        </div>
    </div>
{% endblock %}
